.RateForm {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    border: 2px solid #DBE0E1;
    border-radius: 10px;
    background-color: #fafafa;
}

.RateFormOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(243, 244, 246, 0.8);
}

.RateForm .heading {
    padding: 40px 50px 30px 50px;
}

.RateForm .optionsContainer {
    width: 700px;
    margin: auto;
    padding: 0px 50px 40px 50px;
    justify-content: center;
    align-items: center;
    display: grid;
    border-radius: 10px;
}

.RateForm .button {
    background-color: #5EBCD7;
    color: white;
    padding: 12px 30px;
    width: fit-content;
    margin: 10px;
    border-radius: 8px;
}

.RateForm .button:hover {
    background-color: #92CFE0;
}

.RateForm fieldset legend{
    width: unset;
}