.TutorProfile .button {
    background-color: #5EBCD7;
    color: white;
    padding: 12px 25px;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    border-radius: 8px;
    font-size: 15px;
}

.TutorProfile .button:hover {
    background-color: #92CFE0;
}

.TutorProfile .card-body {
    border: 2px solid #E9EBEC;
    border-radius: 20px;
    padding: 50px;
    height: fit-content;
}

.ratingCount {
    font-size: 12px;
}